<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IRemoteWorkerService" />
            </basicHttpBinding>
        </bindings>
        <!--<client>
            <endpoint address="http://localhost:28756/RemoteWorkerService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRemoteWorkerService"
                contract="WSClient.IRemoteWorkerService" name="BasicHttpBinding_IRemoteWorkerService" />
        </client>-->
    </system.serviceModel>
</configuration>